@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-titillium: var(--font-titillium);
  --font-potta: var(--font-potta);
}

:root {
  --background: #111111;
  --foreground: #FFFFFF;
  --color-fader: linear-gradient(90deg, #000000 0%, #111111 80%);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-titillium);
  font-size: 1em;
  line-height: 1.5;
}